* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font: 13px Helvetica, Arial;
}
ul {
  list-style: none;
}
#send-message {
border: 1px solid red;
padding: 3px;
}
#message {
border: 0;
padding: 10px;
width: 90%;
margin-right: .5%;
}
#form-button {
width: 9%;
background: rgb(130, 224, 255);
border: none;
padding: 10px;
}
#message {
list-style-type: none;
}
#chat-wrap {
  display: none;
}
#chat-wrap, #users {
  margin: 0 auto;
  display: inline-block;
  width: 49%;
  border: 1px solid red;
  padding: 30px;
}
#users {
  float: right;

}
#content-wrap {
  margin: 0 auto;
  padding: 30px;
  display: block;
  border: 1px solid #000;
  width: 100%;
}
#message-wrap {
  clear: both;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}
/*#messages li {
padding: 5px 10px;
margin: 50px;
}
#messages li:nth-last-child(odd) {
background: #EEE;
}*/
