* {
  box-sizing: border-box;
}
html {
  font-family: 'Roboto','Noto Sans', sans-serif;
  background-color: #00BCD4;
  color: #F0FDFF;
  font-weight: lighter;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3.25em;
}
h2 {
  font-size: 1.5em;
}
p, li {
  font-size: 1em;
  padding: 1%;
  line-height: 1.5;
}
hr {
  opacity: .5;
  width: 50%;
  float: left;
  display: block;
}
.clear {
  clear: both;
}
.hidden {
  visibility: hidden;
}
.top-banner {
  background-color: #00BCD4;
  padding: 25px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  -moz-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
}
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #F0FDFF;
  text-shadow: 2px 2px #0097A7;
}
.form-button {
  border-radius: 50%;
  width: 8%;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  -moz-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  background-color: rgba(255,255,255,0.76);
  margin-bottom: 2%;
}
.padded-button {
  padding-right: 50px;
}
#nick-wrap {
  position: absolute;
  top: 50%;
  right: 30%;
}
#nickname {
  padding: 5px;
  margin-top: 3px;
}
#message {
border: 0;
padding: 2%;
width: 90%;
margin-left: 1%;
list-style-type: none;
-webkit-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
-moz-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
margin-bottom: 2%;
}
#chat-wrap {
  display: none;
}
#message, #nickname {
  background-color: rgba(255,255,255, .2);
}
#chat-wrap {
  margin: 0 auto;
  display: inline-block;
  width: 68%;
  padding: 30px;
  background-color: rgba(255,255,255, .2);
  -webkit-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  -moz-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
}
#users {
  float: right;
  margin: 0 auto;
  display: inline-block;
  width: 30%;
  padding: 30px;
  background-color: rgba(255,255,255, .2);
  -webkit-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  -moz-box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
  box-shadow: 6px 7px 21px -6px rgba(255,255,255,0.76);
}
#content-wrap {
  margin: 0 auto;
  padding: 30px;
  display: block;
  width: 100%;
}
#message-wrap {
  clear: both;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
}
